<div class="card-client">
  <div class="client-name">{{ cliente.name }}</div>
  <div class="client-salary">Salário: {{ cliente.salary | currency:'BRL' }}</div>
  <div class="client-company">Empresa: {{ cliente.companyValuation | currency:'BRL' }}</div>
  <div class="icons">
    <img src="assets/images/plus.png" alt="Adicionar" class="icon plus" />
    <img src="assets/images/pencil.png" alt="Editar" class="icon pencil" (click)="onEdit()"  />
    <img src="assets/images/trash.png" alt="Excluir" class="icon trash" (click)="onDelete()" />
  </div>
</div>

<app-modal-client *ngIf="showModal" (closeModal)="closeModal()"></app-modal-client>
