<div class="card-client">
  <div class="client-name">Eduardo</div>
  <div class="client-salary">Salário: R$3.500,00</div>
  <div class="client-company">Empresa: R$120.000,00</div>
  <div class="icons">
    <img src="assets/images/plus.png" alt="Adicionar" class="icon plus"  (click)="openModal()" />
    <img src="assets/images/pencil.png" alt="Editar" class="icon pencil" />
    <img src="assets/images/trash.png" alt="Excluir" class="icon trash" />
  </div>
</div>

<app-modal-client *ngIf="showModal" (closeModal)="closeModal()"></app-modal-client>
