/* Reset básico para evitar margens indesejadas */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Garantir que o container principal ocupe a tela toda */
app-root {
  display: block;
  height: 100%;
}
